/* #81A1F9	#788BBD	#2D4DA6	#A2BAFC	#BACCFC
Вторичный Цвет A:
				
#F6FF75	#BDC272	#A1A929	#F9FF98	#FAFFB4
Вторичный Цвет B:
				
#FF7579	#C27274	#A9292C	#FF989B	#FFB4B6

Ещё идеи
https://coolors.co/palette/006ba6-0496ff-ffbc42-d81159-8f2d56
#006ba6 #0496ff #ffbc42 #d81159 #8f2d56
*/

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Ultra Black Italic'), local('PF-Centro-Sans-Pro-Ultra-Black-Italic'),
        url('fonts/PFCentroSansPro-UBlackItalic/PFCentroSansPro-UBlackItalic.woff2') format('woff2'),
        url('fonts/PFCentroSansPro-UBlackItalic/PFCentroSansPro-UBlackItalic.woff') format('woff'),
        url('fonts/PFCentroSansPro-UBlackItalic/PFCentroSansPro-UBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Ultra Black Italic'), local('PF-Centro-Sans-Pro-Ultra-Black-Italic'),
        url('fonts/PFCentroSansPro-UBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Medium Italic'), local('PF-Centro-Sans-Pro-Medium-Italic'),
        url('fonts/PFCentroSansPro-MediumItalic/PFCentroSansPro-MediumItalic.woff2') format('woff2'),
        url('fonts/PFCentroSansPro-MediumItalic/PFCentroSansPro-MediumItalic.woff') format('woff'),
        url('fonts/PFCentroSansPro-MediumItalic/PFCentroSansPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Regular'), local('PF-Centro-Sans-Pro-Regular'),
        url('fonts/PFCentroSansPro-Regular/PFCentroSansPro-Regular.woff2') format('woff2'),
        url('fonts/PFCentroSansPro-Regular/PFCentroSansPro-Regular.woff') format('woff'),
        url('fonts/PFCentroSansPro-Regular/PFCentroSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Bold'), local('PF-Centro-Sans-Pro-Bold'),
        url('fonts/PFCentroSansPro-Bold/PFCentroSansPro-Bold.woff2') format('woff2'),
        url('fonts/PFCentroSansPro-Bold/PFCentroSansPro-Bold.woff') format('woff'),
        url('fonts/PFCentroSansPro-Bold/PFCentroSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #0496ff;
    display: flex;
    align-items: center;
    margin: 20 auto;
    padding: 0;
    height: 100px;
    border-radius: 10px;
    max-width: 1100px;
}

header h1 {
    margin: 0 auto;
    color: white;
    font-family: "PF Centro Sans Pro";
    font-style: italic;
    font-weight: 900;
}


aside {
    margin: 0;
    flex-basis: 200px;
    /* max-width: 200px; */
    /* background-color: #A2BAFC; */
    border-radius: 10px;
}

aside ul {
    margin: 0;
    list-style-type:none;
    padding: 0;
}

aside li { /* возможно сделать правый aside появляющимся */
    padding: 10px;
    font-family: "PF Centro Sans Pro";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #006BA6;
}

aside a:visited {
    color: #006BA6;
}

aside a:hover {
    color: #D81159;
    text-decoration: underline;
}

main {
    margin: 0 20px;
}
.article-preview {
    flex-basis: 100%;
    /* background-color: #E3F1FF; */
    border-radius: 10px;
    margin: 0 0 10px 0;
    padding: 15px;
}

article h2 { /* возможно заменить на класс */
    margin: 0 0 15px 0;
    font-family: "PF Centro Sans Pro";
    font-weight: 500;
    font-style: italic;
}

article img {
    border-radius: 5px;
}

.article-preview img {
    width: 50%;
    float: left;
    margin: 0 10px;
}

.article-full img {
    width: 80%;
    margin: 10px auto;
    display: block;
}  

article p {
    margin: 0;  
    font-family: "PF Centro Sans Pro";
    font-weight: 400;
    font-style: normal;
    text-indent: 15px;
    margin: 5px auto;
}

.article-preview p {
    display: inline-block;
}

.article-full p {
    display: block;
}

article a {
    color: #FFBC42;
    font-weight: 700;
}

.article-full h2 {
    text-align: center;
}

footer {
    background-color: #023047;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    height: 100px;
    max-width: 1100px;
}

footer h2 {
    margin: 0 0 15px 0;
    font-family: "PF Centro Sans Pro";
    font-weight: 900;
    font-style: normal;
    color: white;
    margin: 0 auto;
}