/* #81A1F9	#788BBD	#2D4DA6	#A2BAFC	#BACCFC
Вторичный Цвет A:
				
#F6FF75	#BDC272	#A1A929	#F9FF98	#FAFFB4
Вторичный Цвет B:
				
#FF7579	#C27274	#A9292C	#FF989B	#FFB4B6

Ещё идеи
https://coolors.co/palette/006ba6-0496ff-ffbc42-d81159-8f2d56
#006ba6 #0496ff #ffbc42 #d81159 #8f2d56
*/

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Ultra Black Italic'), local('PF-Centro-Sans-Pro-Ultra-Black-Italic'),
        url('fonts/PFCentroSansPro-UBlackItalic/PFCentroSansPro-UBlackItalic.woff2') format('woff2'),
        url('fonts/PFCentroSansPro-UBlackItalic/PFCentroSansPro-UBlackItalic.woff') format('woff'),
        url('fonts/PFCentroSansPro-UBlackItalic/PFCentroSansPro-UBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Ultra Black Italic'), local('PF-Centro-Sans-Pro-Ultra-Black-Italic'),
        url('fonts/PFCentroSansPro-UBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Medium Italic'), local('PF-Centro-Sans-Pro-Medium-Italic'),
        url('fonts/PFCentroSansPro-MediumItalic/PFCentroSansPro-MediumItalic.woff2') format('woff2'),
        url('fonts/PFCentroSansPro-MediumItalic/PFCentroSansPro-MediumItalic.woff') format('woff'),
        url('fonts/PFCentroSansPro-MediumItalic/PFCentroSansPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Regular'), local('PF-Centro-Sans-Pro-Regular'),
        url('fonts/PFCentroSansPro-Regular/PFCentroSansPro-Regular.woff2') format('woff2'),
        url('fonts/PFCentroSansPro-Regular/PFCentroSansPro-Regular.woff') format('woff'),
        url('fonts/PFCentroSansPro-Regular/PFCentroSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PF Centro Sans Pro';
    src: local('PF Centro Sans Pro Bold'), local('PF-Centro-Sans-Pro-Bold'),
        url('fonts/PFCentroSansPro-Bold/PFCentroSansPro-Bold.woff2') format('woff2'),
        url('fonts/PFCentroSansPro-Bold/PFCentroSansPro-Bold.woff') format('woff'),
        url('fonts/PFCentroSansPro-Bold/PFCentroSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.main-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

body header {
    background-color: #0496ff;
    display: flex;
    align-items: center;
    margin: 20px auto;
    
    height: 100px;
    border-radius: 10px;
    max-width: 1100px;
    justify-content: space-around;
}

body header > * {
    margin: 0 20px;
}

body header h1, body header h2 {
    color: white;
    font-family: "PF Centro Sans Pro";
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
}

.burger-button {
    display: none;
}


.main-aside {
    margin: 0;
    flex-basis: 200px;
    /* max-width: 200px; */
    /* background-color: #A2BAFC; */
    border-radius: 10px;
    height: fit-content;
    position:sticky;
    top: 10;
}


.main-aside ul {
    margin: 0;
    list-style-type:none;
    padding: 0;
}

.main-aside li { /* возможно сделать правый aside появляющимся */
    padding: 10px;
    font-family: "PF Centro Sans Pro";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #006BA6;
}

.main-aside a:visited {
    color: #006BA6;
}

.main-aside a:hover {
    color: #D81159;
    text-decoration: underline;
}

main {
    margin: 0 20px;
}

.article-preview {
    /* flex-basis: 100%; */
    /* background-color: #E3F1FF; */
    /* border-radius: 10px; */
    padding: 15px;
}

p {
    margin: 0;
}

article h1, article h2, article h3 {
    font-family: "PF Centro Sans Pro";
    font-style: italic;
    font-weight: 500;
}

article h2, h3 {
    margin: 30px 0 15px 0;
}

article h1 {
    margin: 0px 0 15px 0;
}

.article-preview h2 { /* возможно заменить на класс */
    margin: 0 0 15px 0;
}



article img {
    border-radius: 5px;
}

.article-preview img {
    width: 50%;
    float: left;
    margin: 0 10px;
}

.article-full img {
    width: 80%;
    margin: 10px auto;
    display: block;
}  

* {
    font-family: "PF Centro Sans Pro";
    font-weight: 400;
    font-style: normal;
}

article p {
    text-indent: 15px;
}

.article-preview p {
    display: inline-block;
}

.article-full p {
    display: block;
    margin: 5px auto;
}

article a {
    color: #FFBC42;
    font-weight: 700;
}

.article-full h1 {
    text-align: center;
}

.site-footer {
    background-color: #023047;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    height: 100px;
    max-width: 1100px;
}

.site-footer h2 {
    margin: 0 0 15px 0;
    font-family: "PF Centro Sans Pro";
    font-weight: 900;
    font-style: normal;
    color: white;
    margin: 0 auto;
}


.comment-block {
    margin-top: 40px;
}
.comment-block ul {
    padding: 0;
}

.comment-block li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #eef8ff;
    padding: 10px;
}

.comment-block address {
    margin: 0 0 7 0;
}

.comment-block li article footer {
    text-align: right;
}

.basic-table {
    background-color: #eef8ff;
    font-family: "PF Centro Sans Pro";
    font-weight: 400;
    font-style: normal;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

.basic-table tbody tr:nth-child(odd) {
    background-color: #BBE7FF;
}


.basic-table {
    height: calc(100% + 100px);
}

.basic-table tbody tr:hover {
    background-color: #006BA6;
    color: white;
}

.youtube-div iframe {
    aspect-ratio: 16/9;
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: block;
}